services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.12.1
    container_name: mlflow
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --backend-store-uri sqlite:////mlflow/mlflow.db
      --default-artifact-root /mlruns
      --host 0.0.0.0
    volumes:
      - ./mlflow:/mlflow
      - ./mlruns:/mlruns
